<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dropdown</title>
    <link rel="stylesheet" href="bootstrap\css\bootstrap.min.css">
  </head>
  <body>

    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown">
        fgdfgfdgfd
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown">
        <li class="dropdown-header">dsfds</li>
        <li>fsdfsd</li>
        <li>fsdfsd</li>
        <li>fdsfsd</li>
      </ul>
    </div>
    <div>edfwdf</div>
    <div>edfwdf</div>
    <div>edfwdf</div>
    <div>edfwdf</div>

    <div class="dropup">
      <button class="btn dropdown-toggle pull-right" type="button" id="dropup" data-toggle="dropdown">
        dropup
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropup">
        <li class="dropdown-header"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li role="separator" class="divider"><a href="#">3</a></li>
        <li><a href="#"></a>4</li>
        <li class="disabled"><a href="#"></a>5</li>
      </ul>
    </div>



  </body>
  <script type="text/javascript" src="bootstrap\js\jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="bootstrap\js\bootstrap.min.js">

  </script>
<script type="text/javascript">
  $(".data-toggle='dropdown'").dropdown();
</script>
</html>
