<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="bootstrap\css\bootstrap.min.css">
    <script type="text/javascript" src="bootstrap\js\jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap\js\bootstrap.min.js"></script>
  </head>
  <body>
    <button type="button" name="button" class="btn btn-primary" data-toggle="popover" data-placement="right" title="标题" data-content="内容">点击我</button>

    <!-- 可消失的弹框 -->
    <a role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" tabindex="0" title="标题1" data-content="内容1 "> 可消失的弹框</a>
  </body>
  <script type="text/javascript">
    $('[data-toggle="popover"]').popover();
  </script>
</html>
